.header {
	background-color: #B7A1FF;
	height: 90px;
	padding: 20px;
}

.header li {
	float: left;
	padding: 20px 30px;
	margin-left: 50px;
}

.main {
	background-color: #ccc;
	height: 1000px;
}

.footer {
	background-color: #3F4A48;
	color: white;
	height: 180px;
	padding: 20px;
}

.footer ul {
	float: right;
}

.contents-item {
	float: right;
}

img {
	height: 20%;
	width: 20%;
	padding: 20px 10px;
}

li {
	list-style: none;
}

.logo {
	float: left;
}

.salam {
	border-bottom: 2px solid #4D0268;
}